<app-header></app-header>
    <nav class="navbar navbar-expand-md navbar-dark mt-5 bg-dark">
        <a class="navbar-brand ">Opciones de Administrador</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link btn-outline-secondary" (click)="showUserInfo()">Informacion de los usuarios </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn-outline-secondary" (click)="showApproveProfessional()">Habilitar
                        especialistas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link btn-outline-secondary" (click)="showform()">Nuevo Usuario
                        </a>
                </li>
<!--                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" (click)="showform()" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Nuevo Usuario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="showForms('user')">Cliente</a>
                        <a class="dropdown-item" (click)="showForms('professional')">Medico</a>
                        <a class="dropdown-item" (click)="showForms('administrator')">Administrador</a>
                    </div>
                </li> -->
            </ul>
        </div>
    </nav>

<div class="container">

    <app-patient-list *ngIf="userInfo" [patients]="patientsList"></app-patient-list>
    <app-professional-list *ngIf="approveProfessional" [professionals]="professionalList"></app-professional-list>
    <app-form-administrator *ngIf="formAdministrator"></app-form-administrator>
    <app-form-patient *ngIf="formPatient"></app-form-patient>
    <app-form-professional *ngIf="formProfessional"></app-form-professional>
    <app-signup *ngIf="forms"></app-signup>


</div>









<!-- Esta sección solamente la va a poder ver el usuario con perfil Administrador
○ Además de ver la información de los usuarios, desde esta sección se deberá habilitar
o inhabilitar el acceso al sistema de los usuarios Especialista.
○ También se podrá generar nuevos usuarios, con el mismo requerimiento que en la
sección registro. Pero desde esta sección se podrá generar un usuario Administrador.
○ Para los usuarios Administrador
■ Nombre
■ Apellido
■ Edad
■ DNI
■ Mail
■ Password
■ imágen para su perfil. -->