Esta sección solamente la va a poder ver el usuario con perfil Administrador
○ Además de ver la información de los usuarios, desde esta sección se deberá habilitar
o inhabilitar el acceso al sistema de los usuarios Especialista.
○ También se podrá generar nuevos usuarios, con el mismo requerimiento que en la
sección registro. Pero desde esta sección se podrá generar un usuario Administrador.
○ Para los usuarios Administrador
■ Nombre
■ Apellido
■ Edad
■ DNI
■ Mail
■ Password
■ imágen para su perfil.