<nav class="navbar">
    <h4>Profesionales</h4>
  </nav>
<table class="table table-striped table-responsive-sm table-hover">
    <caption>Tabla Profesionales</caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">correo</th>
      </tr>
    </thead>
    <tbody *ngFor="let professional of professionals">
      <tr (click)="onChoose(specialty)">
        <td>{{professional.name}}</td>
        <td>{{professional.lastName}}</td>
        <td>{{professional.email}}</td>
      </tr>
    </tbody>
  </table>