<nav class="navbar">
    <!-- <h4>Listado Turnos</h4> -->
  </nav>
<table class="table table-striped table-responsive-sm">
    <caption>Turnos</caption>
    <thead>
      <tr>
        <th scope="col">Profesional</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Fecha y Hora</th>        
      </tr>
    </thead>
    <tbody *ngFor="let appointment of appointments">
      <tr style="cursor:pointer" (click)="onChoose(appointment)">
        <td *ngIf="appointment.professional">{{appointment.professional.name}} {{appointment.professional.lastName}}</td>
        <td *ngIf="!appointment.professional" class="text-danger">Seleccione Profesional</td>
        <td *ngIf="appointment.specialty">{{appointment.specialty.specialty}}</td>
        <td *ngIf="!appointment.specialty" class="text-danger">Seleccione Especialidad</td>
        <td *ngIf="appointment.timeStamp">{{appointment.timeStamp | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td *ngIf="!appointment.timeStamp" class="text-danger">Seleccione Turno</td>
      </tr>
    </tbody>
  </table>