<nav class="navbar">
    <h4>Tabla Administradores</h4>
  </nav>
<table class="table table-striped table-responsive-sm">
    <caption>Tabla Administradores</caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">correo</th>
      </tr>
    </thead>
    <tbody *ngFor="let administrator of administrators">
      <tr>
        <td>{{administrator.nombre}}</td>
        <td>{{administrator.apellido}}</td>
        <td>{{administrator.correo}}</td>
      </tr>
    </tbody>
  </table>