<div class="container" style="margin-top: 5%;">

    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../../assets/images/medialSign.svg" alt="" width="72" height="72">
        <h2>Turnos</h2>
        <p class="lead">Seleccione profesional o especialidad.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Datos Necesarios</h4>

            <form class="needs-validation" novalidate>

                <div class="d-block my-3">
                    <div>
                        <label for="date">Seleccione filtro</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked
                            required>
                        <label class="custom-control-label" for="credit">Profesional</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Especialidad</label>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="date">Seleccione Fecha para ver turnos disponibles</label>
                        </div>
                        <input type="date" name="fecha" min="2000-01-01">
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                </div>




                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Pedir turno</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Federico Vera</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>