<div class="container mt-5">
    <h2>Historia Clinica</h2>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" [formGroup]="medicalRecordForm" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Altura</label>
                        <input type="text" class="form-control" id="firstName" formControlName="altura"
                            placeholder="Altura" value="" required>
                        <div *ngIf="medicalRecordForm.controls['altura'].invalid && (medicalRecordForm.controls['altura'].dirty || medicalRecordForm.controls['altura'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="medicalRecordForm.controls['altura'].errors.required">
                                Altura es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="peso">Peso</label>
                        <input type="text" class="form-control" id="peso" formControlName="peso" placeholder="Peso"
                            value="" required>
                        <div *ngIf="medicalRecordForm.controls['peso'].invalid && (medicalRecordForm.controls['peso'].dirty || medicalRecordForm.controls['peso'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="medicalRecordForm.controls['peso'].errors.required">
                                Peso es requerido.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="temperatura">Temperatura</label>
                        <input type="number" class="form-control" id="temperatura" formControlName="temperatura"
                            placeholder="Temperatura" min="18" max="99" placeholder="Temperatura" required>
                        <div *ngIf="medicalRecordForm.controls['temperatura'].invalid && (medicalRecordForm.controls['temperatura'].dirty || medicalRecordForm.controls['temperatura'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="medicalRecordForm.controls['temperatura'].errors.required">
                                Temperatura es requerida.
                            </div>
                            <div *ngIf="medicalRecordForm.controls['temperatura'].errors.min">
                                Temperatura debe ser mayor a 18.
                            </div>
                            <div *ngIf="medicalRecordForm.controls['temperatura'].errors.max">
                                Temperatura debe ser menor a 99.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="presion">Presión</label>
                        <input type="text" class="form-control" id="presion" formControlName="presion"
                            placeholder="Presión" value="" required>
                        <div *ngIf="medicalRecordForm.controls['presion'].invalid && (medicalRecordForm.controls['presion'].dirty || medicalRecordForm.controls['presion'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="medicalRecordForm.controls['presion'].errors.required">
                                Presión es requerido.
                            </div>
                            <div *ngIf="medicalRecordForm.controls['presion'].errors.minlength">
                                Presión debe tener al menos 7 caracteres.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 mb-3" *ngIf="medicalRecordForm.controls['label1'].value">
                        <label for="dato1">{{medicalRecordForm.controls['label1'].value}}</label>
                        <input type="text" class="form-control" id="dato1"
                            [value]="medicalRecordForm.controls['valor1'].value" readonly>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="medicalRecordForm.controls['label2'].value">
                        <label for="dato2">{{medicalRecordForm.controls['label2'].value}}</label>
                        <input type="text" class="form-control" id="dato2"
                            [value]="medicalRecordForm.controls['valor2'].value" readonly>

                    </div>
                </div>
                <div class="row" *ngIf="medicalRecordForm.controls['label3'].value">
                    <div class="col-md-6 mb-3">
                        <label for="dato3">{{medicalRecordForm.controls['label3'].value}}</label>
                        <input type="text" class="form-control" id="dato3"
                            [value]="medicalRecordForm.controls['valor3'].value" readonly>
                    </div>
                </div>


                <label for="newSpecialty"><b>Agregar nuevo dato</b></label> &nbsp;
                <button id="newSpecialty" *ngIf="!showSpecialtyForm" class="btn btn-outline-success"
                    (click)="showSpecialtyForm = !showSpecialtyForm">➕</button>
                <button id="newSpecialty" *ngIf="showSpecialtyForm" class="btn btn-outline-success"
                    (click)="showSpecialtyForm = !showSpecialtyForm">➖</button>

                <div class="row" *ngIf="showSpecialtyForm">
                    <div class="col-md-6 mb-3">


                        <div class="col-md mb-4">
                            <label for="livespan">Nombre del dato</label>
                            <input type="text" class="form-control" id="livespan" [(ngModel)]="labelDinamic"
                                placeholder="Nombre" [ngModelOptions]="{standalone: true}" value="" required>
                        </div>
                        <div class="col-md mb-4">
                            <label for="livespan">Valor del dato</label>
                            <input type="text" class="form-control" id="livespan" [(ngModel)]="dataDinamic"
                                [ngModelOptions]="{standalone: true}" placeholder="Valor" value="" required>
                        </div>
                        <button *ngIf="!mostrarMensaje" class="btn btn-primary btn-lg btn-block" type="submit"
                            (click)="addDinamicData()"
                            [disabled]="!dataDinamic||!labelDinamic || labelDinamic.length==0 || dataDinamic.length==0 || totalDinamicData >2">Agregar
                            Dato </button>
                        <button *ngIf="mostrarMensaje" class="btn btn-primary btn-lg btn-block" type="submit"
                            (click)="resetForm()">Agregar otro
                            Dato </button>
                        <div *ngIf="spinner" class="spinner-grow text-warning" role="status">
                            <span class="sr-only">Guardando...</span>
                        </div>
                        <boot-alert *ngIf="mostrarMensaje" mensaje="Dato Agregado" color="success"
                            (dismiss)="resetForm()">
                        </boot-alert>
                        <boot-alert *ngIf="totalDinamicData >2" mensaje="Solo se pueden agregar 3 datos dinamicos"
                            color="danger">
                        </boot-alert>


                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="medicalRecordForm.invalid"
                    (click)="onSubmit()">Registrar
                    Historia Clinica</button>
                <div class="spinner-grow text-warning" role="status" *ngIf="spinner">
                    <!-- *ngIf="spinner else alert  <ng-template #alert>-->
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="container" *ngIf="registered">
                    <boot-alert mensaje="Historia Clinica Registrada correctamente." color="success"
                        (dismiss)="navigate()">
                    </boot-alert>
                </div>
            </form>
        </div>
    </div>
</div>