<nav class="navbar">
    <h4>Tabla Pacientes</h4>
  </nav>
<table class="table table-striped table-responsive-sm">
    <caption>Tabla Pacientes</caption>
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">correo</th>
      </tr>
    </thead>
    <tbody *ngFor="let patient of patients">
      <tr>
        <td>{{patient.nombre}}</td>
        <td>{{patient.apellido}}</td>
        <td>{{patient.correo}}</td>
      </tr>
    </tbody>
  </table>