<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../../assets/images/medialSign.svg" alt="" width="72" height="72">
        <h2>Especialidades</h2>
        <p class="lead">Formulario especialidades.</p>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Datos Necesarios</h4>
            <form class="needs-validation" [formGroup]="specialtyForm" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre de la especialidad</label>
                        <input type="text" class="form-control" id="firstName" formControlName="specialty" placeholder=""
                            value="" required>
                        <div class="invalid-feedback">
                            Valid first specialty is required.
                        </div>
                        <div *ngIf="specialtyForm.controls['specialty'].invalid && (specialtyForm.controls['specialty'].dirty || specialtyForm.controls['specialty'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="specialtyForm.controls['specialty'].errors.required">
                                Nombre de la especialidad requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="duration">Duración (en minutos) aproximada de un turno</label>
                        <input type="number" class="form-control" id="duration" formControlName="duration" placeholder=""
                            value="" required>
                        <div class="invalid-feedback">
                            Valid last duration is required.
                        </div>
                        <div *ngIf="specialtyForm.controls['duration'].invalid && (specialtyForm.controls['duration'].dirty || specialtyForm.controls['duration'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="specialtyForm.controls['duration'].errors.required">
                                Duración aproximada del turno requerido.
                            </div>
                        </div>
                    </div>
                </div>

                
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">Registrar</button>
                <div class="container" *ngIf="registered">
                    <boot-alert mensaje="Especialidad Registrada correctamente."
                        color="alert-warning" (dismiss)="navigate()"></boot-alert>
                </div>
            </form>
        </div>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; Federico Vera</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>