<app-header></app-header>
<div class="container mt-5">
    <div class="col mt-5 pt-5"*ngIf="user">
        <img  [src]="user.photos[0]" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <img  [src]="user.photos[1]" *ngIf="user.usertype == 'patient'" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>{{user.name}} - {{user.lastName}}</h2>

        <label for="">{{user.email}}</label>

        <p *ngIf="user.usertype != 'administrator'">Obra social: {{user.obraSocial}}</p>
        <app-mis-horarios *ngIf="user.usertype == 'professional'"></app-mis-horarios>
    </div>
</div>